h1, h2{
	font-weight: bold;
	color: black;
	font: 50px;
	text-align: center;
}

ul {
	text-align: center;
	list-style-position: inside;
}
html {
	background-color: #b3ffff; /* light blue */
}

header {
	display: block;

}

footer {
	text-align: center;
	display: block;
}

input[type=submit] {
	background-color: black;
	color: white;
}

form, p {
	text-align: center;
}

